@charset "UTF-8";
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#button {
  width: 50%;
  /* 100% of parent container*/
  margin: 100px auto;
  line-height: 1.6; }
  @media (max-width: 500px) {
    #button {
      width: 90%; } }
  #button h3 {
    font-size: 20px !important;
    font-family: inherit;
    font-weight: 800;
    text-align: center; }
    @media (max-width: 1024px) and (orientation: portrait) {
      #button h3 {
        font-size: 20px !important; } }
    @media (min-width: 1800px) {
      #button h3 {
        font-size: 30px; } }

#button-container {
  width: 100%;
  display: flex; }

#support-us {
  width: auto;
  background-color: #ed6746;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 18px;
  margin: auto;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold; }
  @media (max-width: 1024px) and (orientation: portrait) {
    #support-us {
      font-size: 20px !important; } }
  @media (min-width: 1800px) {
    #support-us {
      font-size: 20px; } }

@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url("../ProximaNova/PROXIMANOVA-REGULAR.OTF") format("opentype"); }
@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("../ProximaNova/PROXIMA NOVA BOLD.OTF") format("opentype"); }
body {
  color: #333;
  font-family: 'ProximaNova', sans-serif; }

#soc {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: fixed;
  right: 0;
  top: 10px; }
  #soc a {
    margin: auto;
    text-decoration: none; }
  #soc i {
    font-size: 35px;
    color: #ed6746;
    margin: 0 0 0 0.5em;
    max-height: 1em; }
    #soc i:hover {
      color: #ff2c5f; }

main {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

#header {
  width: 100%;
  grid-column: span 2;
  grid-row: span 1;
  display: flex; }
  #header .wrapper {
    width: max-content;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase; }
  #header p {
    font-size: 35px;
    text-align: center;
    margin: 0; }
  #header p:nth-child(1) {
    letter-spacing: 1px; }
  #header p#year {
    color: #ed6746;
    margin: -15px auto;
    font-size: 110px; }
  #header img {
    width: 250px; }

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ed6746;
  line-height: 0.1em;
  margin: 10px 0 20px; }

h2 span {
  color: #ed6746;
  background: #fff;
  padding: 0 10px; }

section {
  display: grid;
  grid-gap: 10px;
  margin: 30px auto 100px auto; }

.item, .chart, .article, .fragment {
  cursor: pointer; }

.empty {
  grid-column: span 1;
  grid-row: span 1; }
  @media (max-width: 960px) {
    .empty {
      display: none; } }

.item {
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex; }
  @media (max-width: 960px) {
    .item {
      margin: 5px 0;
      height: 200px; } }

.item:hover {
  filter: grayscale(0); }

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  height: 100%; }

.overlay:hover {
  background-color: rgba(0, 0, 0, 0); }

.overlay:hover + .title {
  display: none; }

.title {
  width: 96%;
  pointer-events: none;
  z-index: 10;
  text-align: center;
  color: white;
  margin: auto; }
  .title h3 {
    width: 96%;
    color: white;
    margin: 0 auto;
    font-size: 25px;
    line-height: 1.4; }
  .title p {
    font-size: 20px;
    line-height: 1.6; }

/* дата-проекти */
section#dj-projects {
  grid-template-columns: repeat(auto-fill, 250px);
  width: 90%;
  grid-auto-rows: 250px; }
  @media (max-width: 1200px) {
    section#dj-projects {
      grid-template-columns: repeat(auto-fill, 200px); } }
  @media (max-width: 960px) {
    section#dj-projects {
      display: block; } }
  section#dj-projects .item-1 {
    grid-column: span 2;
    grid-row: span 1; }
    @media (max-width: 800px) {
      section#dj-projects .item-1 {
        grid-column: span 2; } }
  section#dj-projects .item-2 {
    grid-column: span 1;
    grid-row: span 2; }
  section#dj-projects .item-3 {
    grid-column: span 1;
    grid-row: span 1; }

/* вибори */
section#elections {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 250px; }
  @media (max-width: 1000px) {
    section#elections {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 800px) {
    section#elections {
      display: block; } }
  section#elections .item {
    grid-column: span 2;
    grid-row: span 1; }

/* статті */
section#articles {
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 1000px) {
    section#articles {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 800px) {
    section#articles {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 500px) {
    section#articles {
      display: block; } }
  section#articles .article {
    margin-bottom: 40px; }
    section#articles .article div {
      height: 200px;
      background-size: cover;
      background-position: center center;
      filter: grayscale(100%); }
    section#articles .article div:hover {
      filter: grayscale(0); }
    section#articles .article p {
      font-size: 18px;
      font-weight: bold; }
      @media (max-width: 800px) {
        section#articles .article p {
          font-size: 15px; } }

section#charts {
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 1000px) {
    section#charts {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 900px) {
    section#charts {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 500px) {
    section#charts {
      display: block; } }
  section#charts .chart {
    width: 70%;
    margin-bottom: 50px;
    background: url("../img/grid.png");
    background-size: cover;
    display: flex;
    height: 200px; }
    @media (max-width: 900px) {
      section#charts .chart {
        width: 70%;
        margin: 15px auto;
        height: max-content; } }
    section#charts .chart p {
      color: white;
      font-size: 18px;
      font-weight: bold;
      width: 90%;
      margin: 25px 0 0 5px;
      line-height: 1.4; }
    section#charts .chart p span {
      background-color: #676767;
      box-shadow: 5px 0 0 0  #676767, -5px 0 0 0  #676767; }
    section#charts .chart span:hover {
      background-color: #878787;
      box-shadow: 5px 0 0 0 #878787, -5px 0 0 0 #878787; }

section#fragments {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  @media (max-width: 1000px) {
    section#fragments {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 650px) {
    section#fragments {
      grid-template-columns: 1fr 1fr; } }
  section#fragments .fragment {
    display: flex;
    height: 250px;
    background-color: #ed6746; }
    section#fragments .fragment p {
      font-size: 18px;
      font-weight: bold;
      width: 80%;
      margin: auto; }
  section#fragments .fragment:nth-child(2n) {
    background-color: rgba(237, 103, 70, 0.7); }
  section#fragments .fragment:hover {
    box-shadow: 3px 3px 3px #a7a7a7; }

/*# sourceMappingURL=application.css.map */
