body {
  background-color: #333;
  color: lightgrey;
  font-family: 'Roboto Mono', monospace; }

header {
  color: black;
  height: max-content;
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto; }
  @media (max-width: 500px) and (orientation: portrait) {
    header {
      height: 50vh; } }
  header canvas {
    position: relative;
    margin-left: 50px; }

h1 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 40px;
  text-transform: uppercase;
  margin: auto 0;
  color: lightgrey; }
  @media (max-width: 500px) and (orientation: portrait) {
    h1 {
      font-size: 30px;
      width: 80%;
      margin: auto; } }

main {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  min-height: 110vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: repeat(4, auto); }
  @media (max-width: 500px) and (orientation: portrait) {
    main {
      margin: 1em;
      width: calc(100% - 2em);
      display: block; } }

h3 {
  grid-column: 1/-1;
  font-size: 20px;
  text-transform: uppercase; }

#articles {
  border-right: 1px solid lightgrey;
  grid-row: 1/4;
  overflow: hidden;
  transition: height 3s;
  height: calc(10vh + 600px);
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content); }
  #articles h3 {
    color: orange; }

.item {
  width: 80%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-size: cover; }
  .item img {
    filter: grayscale(100%);
    width: 100%; }
  .item img:hover {
    filter: invert(0); }
  .item p {
    display: none;
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: white; }
  .item span {
    padding: 2px;
    background-color: #2b2b2b; }
  .item .title {
    font-weight: bold;
    color: orange; }
  .item .subtitle {
    display: none;
    font-size: 14px; }

.item:nth-child(3n+2) {
  margin-left: 8%; }

.item:nth-child(4n+2) {
  margin-left: 4%; }

.item:nth-child(4n+1) {
  margin-left: 2%; }

#fragments {
  padding-inline-start: 0;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px); }
  #fragments h3 {
    color: lightgrey; }
  #fragments .empty {
    grid-column: span 1; }
  #fragments .type-one {
    grid-column: span 3;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 150px 2fr;
    grid-template-rows: max-content;
    margin-bottom: 50px; }
    #fragments .type-one .text {
      grid-column: span 1; }
  #fragments .type-two {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: max-content;
    grid-column: span 2;
    margin-bottom: 50px; }
    #fragments .type-two .text {
      grid-column: span 2; }
  #fragments .chart-one {
    display: grid;
    grid-template-columns: 400px;
    grid-column: span 3;
    margin-bottom: 50px; }
    @media (max-width: 500px) and (orientation: portrait) {
      #fragments .chart-one {
        grid-template-columns: 90%; } }
    #fragments .chart-one .chart {
      filter: grayscale(100%);
      border: 1px solid orange;
      width: 100%; }
    #fragments .chart-one .text {
      padding: 5px;
      color: orange;
      font-weight: bold;
      grid-column: span 1; }
  #fragments .chart-two {
    display: grid;
    grid-template-columns: 300px;
    grid-column: span 3;
    margin-bottom: 50px; }
    #fragments .chart-two .chart {
      border: 1px solid orange;
      width: 299px; }
    #fragments .chart-two .text {
      padding: 5px;
      color: orange;
      font-weight: bold;
      grid-column: span 1;
      width: 100%; }
  #fragments .news .picture {
    filter: invert(100%);
    border: 2px solid grey;
    margin: 0;
    width: 150px; }
  #fragments .news .text {
    padding: 5px;
    color: grey;
    font-weight: 800;
    width: 70%; }
    #fragments .news .text p {
      margin: 0; }

/*# sourceMappingURL=application.css.map */
