@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url('../ProximaNova/PROXIMANOVA-REGULAR.OTF') format('opentype');
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url('../ProximaNova/PROXIMA NOVA BOLD.OTF') format('opentype');
}
